/* body */

body {
    min-height: 100vh;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    color: var(--color-text);
    background-color: var(--color-bg);
}

/* Container */
.container {
    width: 100%;
    padding: 0 var(--container-padding-x-mobile);
    flex-grow: 1;
}

@media (min-width: 1440px) {
    .container {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 60px;
    }
}
